*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:#0A0A0A;

color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 80px;

}

.logo{

font-size:32px;

font-weight:700;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}

.hero h1{

font-size:72px;

max-width:900px;

margin-bottom:20px;

}

.hero p{

font-size:22px;

max-width:700px;

margin-bottom:30px;

color:#A1A1AA;

}

button{

padding:16px 32px;

border:none;

border-radius:12px;

background:linear-gradient(
135deg,
#25D0FF,
#2563EB
);

color:white;

font-size:18px;

cursor:pointer;

}
